#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .titleContainer {
    flex-grow: 1; /* Allow the titleContainer to take up the remaining space */
    text-align: center;
  }
  
  .pageTitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 0;
  }
  
  .signOutButtonContainer {
    display: flex;
    align-items: center;
  }
  
  .signOutButton {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signOutButton:hover {
    background-color: #2980b9;
  }
  

  